services:
  db:
    container_name: postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: onecontroller
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - db_networks
    restart: unless-stopped
networks:
  db_networks:
    driver: bridge

volumes:
  db: